# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
**Objectives:**
* You can use R for data science
* You can use Jupyter Notebook to run code
* You can use RStudio to code in R

 Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPY
3. Matplotlib

|Data Science Tools|
---------------------
|Jupyter Notebook|
|JupyterLab|
|Apache Zepplin|

# Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [4]:
200/6
#This will convert 200 minutes to hours by diving by 60

33.333333333333336

In [ ]:
## Author
Ananya